# Ignore virtual environment
venv/

# Ignore API keys & credentials
.env
*.json  # This will ignore all JSON files, including Google credentials

# Ignore Mac system files
.DS_Store

# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and debug files
logs/
*.log

# Ignore uploads and temporary files
static/uploads/
temp/
